<li class="message {{className}}">
    <img class="image" src="{{image}}">
    <div class="message-body">
        <span class="user-name">{{name}}</span>
        <div class="mesage-content">
            <div class="message-text">{{message}}</div>
            <div class="message-time">{{currentDate}}</div>
        </div>
    </div>
</li>